@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

input,
textarea,
select,
button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  border: none;
  outline: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  max-inline-size: 100%;
  block-size: auto;
  width: 100%;
}

body {
  background-color: hsl(235, 18%, 26%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

section {
  background-color: hsl(0, 0%, 100%);
  max-width: 25rem;
  height: 100vh;
  display: grid;
  color: hsl(235, 18%, 26%);
}

ul {
  display: grid;
  margin-bottom: 2rem;
}

li {
  display: flex;
  gap: 0.75rem;
}

li::before {
  content: "";
  width: 1.5rem;
  height: 1.5rem;
  background: transparent url("./assets/images/icon-list.svg") no-repeat;
}

#header-img {
  grid-area: img;
  margin-bottom: 0.25rem;
}

#content {
  display: grid;
  grid-area: content;
  padding: 1.5rem;
}
#content h1 {
  color: hsl(234, 29%, 20%);
  font-size: 2.5rem;
  font-weight: bold;
  transform: scale(1, 0.9);
  letter-spacing: 0.05rem;
}

#form {
  display: grid;
}
#form label {
  color: hsl(234, 29%, 20%);
  font-weight: bold;
  font-size: 0.75rem;
  transform: scale(1, 0.9);
}
#form input {
  border: 1px solid hsl(0, 0%, 58%);
  border-radius: 0.5rem;
  padding: 1.19rem 1.25rem;
  margin-bottom: 0.5rem;
}
#form input::placeholder {
  color: hsl(0, 0%, 58%);
}
#form input:hover {
  cursor: pointer;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 0px;
  border-radius: 0.5rem;
  padding: 2rem;
  background-image: linear-gradient(hsl(234, 29%, 20%), hsl(234, 29%, 20%));
  color: hsl(0, 0%, 100%);
  font-weight: bold;
  transform: scale(1, 0.9);
  cursor: pointer;
}
button:hover, button:active, button:focus {
  background: linear-gradient(to right, hsl(345, 90%, 65%), hsl(15, 91%, 60%));
  box-shadow: 0 10px 25px hsla(4, 100%, 67%, 0.508);
}

#label-container {
  display: flex;
  justify-content: space-between;
}
#label-container span {
  display: none;
  font-size: small;
  font-weight: 700;
  color: hsl(4, 100%, 67%);
}

#sign-up {
  display: grid;
  grid-template-areas: "img" "content";
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2fr;
}

#success {
  display: none;
  grid-template-areas: "thanks" "dismiss";
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 0.75fr;
  justify-content: center;
  align-items: flex-end;
  padding: 1.5rem;
  padding-block-end: 3rem;
}
#success img {
  width: 4rem;
  margin-block-end: 2rem;
}
#success .success-content {
  grid-area: thanks;
  color: hsl(234, 29%, 20%);
}
#success .success-content h1 {
  font-weight: 900;
  font-size: 2.4rem;
  line-height: 1.1;
  margin-block-end: 1.5rem;
}
#success .success-content p span {
  font-weight: bold;
}

@media screen and (min-width: 768px) {
  #sign-up {
    display: grid;
    grid-template-areas: "content img";
    grid-template-columns: 0.95fr 1fr;
    grid-template-rows: 1fr;
    max-block-size: 83vh;
    max-inline-size: 80vw;
    place-content: center;
    border-radius: 2rem;
    box-shadow: 0 0 1.5rem 0.5rem hsl(234, 29%, 20%);
  }
  #sign-up #content {
    align-items: flex-end;
    padding: 3rem;
    min-width: 29rem;
    font-size: 16px;
    grid-area: content;
  }
  #sign-up #content #form {
    align-self: flex-start;
    gap: 0.5rem;
  }
  #sign-up #content img {
    grid-area: img;
    padding: 1.5rem;
  }
  #sign-up #content h1 {
    font-size: 3.5rem;
  }
  #sign-up #content ul {
    gap: 0.75rem;
  }
  picture {
    margin: 1.5rem;
    height: 0;
    min-height: 100%;
  }
  picture img {
    height: 93%;
    object-fit: cover;
    border-radius: 1rem;
  }
  #success {
    display: none;
    height: 32rem;
    max-width: 29.4rem;
    border-radius: 2rem;
    padding: 3.5rem;
    font-size: 15px;
    box-shadow: 0 0 1.5rem 0.5rem hsl(234, 29%, 20%);
  }
  #success .success-content h1 {
    font-size: 3.1rem;
    letter-spacing: 0.1rem;
  }
}

/*# sourceMappingURL=styles.css.map */
